<div>
  <%= form_for @quote do |f| %>
    Quote: <%= f.text_field :quote %> <br>
    <% if user_signed_in? %>
      Link : <%= f.text_field :link %><br>
    <% end %>

    Author: <%= f.text_field :author %><br>
    Title : <%= f.text_area :title %><br>
  <%= f.submit %>
  <% end %>
</div>
