<!DOCTYPE html>
<html lang="en">
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//code.jquery.com/jquery-1.11.1.min.js">
  </script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

</head>

<body>

  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url('/coverphoto.jpg');">
    <div class="banner-content">
      <h1>Quotley</h1>
      <h2>Kindle readers' favourite quotes in one place</h2>
      <div>
      <br>
        <p><i>Click the quote you like and buy the book</i></p>
      </div>
    </div>
  </div>

<!-- ".item.blog .content" -->
<div class="container">
  <div class="quote-list">
    <div class="grid">
      <%= render @quotes %>
    </div>
  </div>

  <div class="subscription-form">
    <div>
      <% if cookies[:saved_subscriber] %>
        Thanks for signing up!
      <% else %>
        <h1>Sign up for the weekly newsletter</h1>
        <%= form_for @subscriber do |f| %>
          <%= f.text_field :name, placeholder: "Name" %>
          <%= f.email_field :email, placeholder: "Email" %>
          <%= f.submit %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="footer">
  <div>
    Kindle® is a registered trademark of Amazon.com Inc. Quotley is part of Amazon's Affiliate Program.
  </div>
  <br>
  <div>Icon made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"          title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"          title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  <br>
  <div class="footer-copyright">
    © Quotley <%= Date.today.year %>
  </div>
  </div>



<script>
function resizeGridItem(item){
  grid = document.getElementsByClassName("grid")[0];
  rowHeight = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-auto-rows'));
  rowGap = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-row-gap'));
  rowSpan = Math.ceil((item.querySelector('.content').getBoundingClientRect().height+rowGap)/(rowHeight+rowGap));
    item.style.gridRowEnd = "span "+rowSpan;
}

function resizeAllGridItems(){
  allItems = document.getElementsByClassName("item");
  for(x=0;x<allItems.length;x++){
    resizeGridItem(allItems[x]);
  }
}

function resizeInstance(instance){
  item = instance.elements[0];
  resizeGridItem(item);
}

window.onload = resizeAllGridItems();
window.addEventListener("resize", resizeAllGridItems);

allItems = document.getElementsByClassName("item");
for(x=0;x<allItems.length;x++){
  imagesLoaded( allItems[x], resizeInstance);
}

</script>

</body>

</html>

